body{
    font: 100px;
    color: rgba(0,0,0,0,5);
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 5em;
    top:15%;
    background: linear-gradient(to right,blue,red);
    

}

    
   
