body{
    background-color:aliceblue;
}
*{
    margin: 0%;
    padding: 0%;
    
}
nav{
    font-family: 'ubantu', sans-serif;
   
    }

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: white;
    color: black;
}

nav li{
    padding:12px;
   
}

.brand img{
    width: 44px;
    padding: 8px;
   
    
}
.navbar{
    display:flex;
    align-items:center;
    font-weight: bolder;
    font-size: 1.4rem;
}

.profile{
    display:flex;
    align-items: center;
    font-weight: bolder;
    padding-left: 953px;
    padding-right: 10px;
    word-spacing: 20px;
}
.profile-button{
    display: flex;
    background-color: transparent;
    color: black;
    padding: 15px;
    cursor: pointer;
    border: 1px solid grey;
}
.right-Profile{
    display: flex;
        position: relative;
        display: inline-block;
        float: right;
}
.dropdown-profile{
    display: none;
    position: absolute;
    background-color: aqua;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-profile a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-profile a:hover{
    background-color:lightpink;
    color:gray;
}
.right-Profile:hover .dropdown-profile{
    display: block;
}

.right-Profile:hover .profile-button{
   background-color: transparent;
}


.bottom{
    display: flex;
    position: sticky;
    height: 81px;
    background-color:lightcyan;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.container{
    display: flex;
    min-height: 75vh;
    color:white;
    font-family: ubantu sans-serif;
    display: flex;
    margin: 25px auto;
    width: 75%;  
  
}



#myProgressBar{
    width: 80vw;
    text-align: center;
}

